.mapbox_container,
.snapshotContainer {
  width: 90%;
  height: 75vh;
  overflow: hidden;
  margin: 0px auto;
  border-radius: 10px;
}

.mapButtonSection {
  text-align: center;
}

.mapContainerButton {
  width: 10%;
  margin: 7px auto;
  padding: 4px 0px;
  font-size: 1.15rem;
  outline: none;
  border: none;
  background-color: salmon;
  letter-spacing: 1px;
  border-radius: 10px;
}

.mapContainerButton:hover {
  background-color: rgb(136, 42, 32);
  color: white;
  cursor: pointer;
}
